beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.2
cramjam==2.10.0
cycler==0.12.1
dask==2025.4.1
duckdb==1.2.2
fastparquet==2024.11.0
filelock==3.18.0
fonttools==4.57.0
frozendict==2.4.6
fsspec==2025.3.2
idna==3.10
importlib_metadata==8.7.0
Jinja2==3.1.6
kiwisolver==1.4.8
locket==1.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
multitasking==0.0.11
networkx==3.4.2
numpy==2.2.5
packaging==25.0
pandas==2.2.3
partd==1.4.2
peewee==3.18.1
pillow==11.2.1
platformdirs==4.3.7
pyarrow==20.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
soupsieve==2.7
sympy==1.14.0
toolz==1.0.0
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchvision==0.22.0+cu128
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
yfinance==0.2.57
zipp==3.21.0
